<div class="convention">
  <van-skeleton
    title
    :row="20"
    :loading="!Object.keys(detail).length"
  >

    <p class="title">{{ detail.name }}</p>

    <div class="content" v-html="detail.content"></div>

    <template v-if="questionnaire_id">
      <div class="bottom-button">
        <div class="cancel" @click="handleGoBack">再考虑一下</div>
        <div class="sign-up" @click="handleGoToSignUp">
          去报名<span v-if="!isTimeUp">({{ countDown }}s)</span>
        </div>
      </div>
    </template>

    <template v-else>
      <div class="confirm" @click="handleGoBack">确认</div>
    </template>

  </van-skeleton>
</div>
