<div class="convention">
  <van-skeleton
    title
    :row="20"
    :loading="!Object.keys(detail).length"
  >

    <p class="title">{{ detail.name }}</p>

    <div class="content" v-html="detail.content"></div>

    <div class="bottom-button">
      <template v-if="activity_id">
        <div class="cancel pull-left" @click="handleGoBack">再考虑一下</div>

        <div
          class="sign-up pull-right"
          :class="{ 'time-up': isTimeUp }"
          @click="handleGoToSignUp"
        >
          去报名<span v-if="!isTimeUp">({{ countDown }}s)</span>
        </div>
      </template>

      <template v-else>
        <div class="confirm" @click="handleGoBack">确认</div>
      </template>
    </div>

  </van-skeleton>
</div>
