<div class="feedback-form">
  <input
    class="name"
    type="text"
    v-model="form.name"
    placeholder="请输入标题"
  />

  <div class="editor-wrapper">
    <QuillEditor
      class="custom-editor"
      ref="customEditor"
      :options="options"
      contentType="html"
      v-model:content="form.content"
      @ready="handleReady"
    >
    </QuillEditor>
  </div>

  <van-button
    class="submit"
    v-if="id"
    :loading="submitLoading"
    loading-text="更新中..."
    @click="handleSubmit"
  >
    更新反馈
  </van-button>

  <div class="bottom-button" v-else>
    <van-button
      class="save-draft pull-left"
      color="#3873FA"
      plain
      :loading="saveDraftLoading"
      loading-text="保存中..."
      @click="handleSaveDraft"
    >
      保存草稿
    </van-button>

    <van-button
      class="direct-submit pull-right"
      :loading="submitLoading"
      loading-text="提交中..."
      @click="handleSubmit"
    >
      直接提交
    </van-button>
  </div>
</div>
